<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Voter Registration Application</display-name>
    
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminServlet</display-name>
    	<servlet-name>AdminServlet</servlet-name>
    	<servlet-class>com.user.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginServlet</display-name>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>com.user.controller.LoginServlet</servlet-class>
    </servlet>
    
    <servlet>
    	<description>
    	</description>
    	<display-name>SignupServlet</display-name>
    	<servlet-name>SignupServlet</servlet-name>
    	<servlet-class>com.user.controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CandidateServlet</display-name>
    	<servlet-name>CandidateServlet</servlet-name>
    	<servlet-class>com.user.controller.CandidateServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>VoterServlet</display-name>
    	<servlet-name>VoterServlet</servlet-name>
    	<servlet-class>com.user.controller.VoterServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ResultServlet</display-name>
    	<servlet-name>ResultServlet</servlet-name>
    	<servlet-class>com.user.controller.ResultServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LogoutServlet</display-name>
    	<servlet-name>LogoutServlet</servlet-name>
    	<servlet-class>com.user.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>VoteServlet</display-name>
    	<servlet-name>VoteServlet</servlet-name>
    	<servlet-class>com.user.controller.VoteServlet</servlet-class>
    </servlet>
    
   

    
    
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>
        <session-timeout>2</session-timeout> 
    </session-config>

</web-app>
